<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<script src="/js/jquery.js"/>


<link rel="shortcut icon" type="image/png" href="/js/jasmine/lib/jasmine-core/jasmine_favicon.png"/>
<link rel="stylesheet" type="text/css" href="/js/jasmine/lib/jasmine-core/jasmine.css"/>

<script type="text/javascript" src="/js/jasmine/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="/js/jasmine/lib/jasmine-core/jasmine-html.js"></script>
<script type="text/javascript" src="/js/jasmine/lib/jasmine-core/boot.js"></script>

<script type="text/javascript">
    jasmine.DEFAULT_TIMEOUT_INTERVAL = 1000;

    var domainAUrl = "http://localhsot:8080/";
    var domainBUrl = "http://localhost:8081/";
    $(document).ready(function () {
        //--------------------------------
        var data = "";
        $.getJSON(domainBUrl + "test1", function (data1) {
            data = data1;
        });
        describe("test1", function() {
            setTimeout(function () {
                it("test1 跨域测试", function(done) {
                    expect(data).toEqual({
                        msg: 'this is from domain b'
                    });
                    done();
                });
            });
        }, 200);

        //--------------------------------
        var jsonpData = "";
        $.ajax({
            url: domainBUrl + "jsonpCall",
            dataType: "jsonp",
            success: function (data1) {
                jsonpData = data1;
            }
        });
        describe("jsonp", function() {
            setTimeout(function () {
                it("jsonp 调用测试", function(done) {
                    expect(jsonpData).toEqual({
                        msg: 'this is from domain b'
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var test2WithHeader = "";
        $.getJSON(domainBUrl + "test2WithHeader", function (data1) {
            test2WithHeader = data1;
        });
        describe("test2WithHeader", function() {
            setTimeout(function () {
                it("test2WithHeader 调用测试", function(done) {
                    expect(test2WithHeader).toEqual({
                        msg: 'this is from domain b'
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var test3WithHeader = "";
        $.getJSON(domainBUrl + "test3WithHeader", function (data1) {
            test3WithHeader = data1;
        });
        describe("test3WithHeader", function() {
            setTimeout(function () {
                it("test3WithHeader 调用测试", function(done) {
                    expect(test3WithHeader).toEqual({
                        msg: 'this is from domain b'
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var testPreflighted = "";
        $.ajax({
            url: domainBUrl + "testPreflighted",
            contentType: "application/json",
            type: "post",
            data: JSON.stringify({
                msg : "testPreflighted"
            }),
            success: function (data1) {
                testPreflighted = data1;
            }
        });
        describe("testPreflighted", function() {
            setTimeout(function () {
                it("testPreflighted 调用测试", function(done) {
                    expect(testPreflighted).toEqual({
                        msg: "testPreflighted"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var testPreflighted2 = "";
        $.ajax({
            url: domainBUrl + "testPreflighted2",
            contentType: "application/json",
            type: "post",
            data: JSON.stringify({
                msg : "testPreflighted2"
            }),
            success: function (data1) {
                testPreflighted2 = data1;
            }
        });
        describe("testPreflighted2", function() {
            setTimeout(function () {
                it("testPreflighted2 调用测试", function(done) {
                    expect(testPreflighted2).toEqual({
                        msg: "testPreflighted2"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------

        var testCookie1 = "";
        $.ajax({
            url: domainBUrl + "testCookie1",
            type: "get",
            xhrFields: {
              withCredentials: true
            },
            success: function (data1) {
                testCookie1 = data1;
            }
        });
        describe("testCookie1", function() {
            setTimeout(function () {
                it("testCookie1 调用测试", function(done) {
                    expect(testCookie1).toEqual({
                        msg: "testCookie"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------

        var testCookie2 = "";
        $.ajax({
            url: domainBUrl + "testCookie2",
            type: "get",
            xhrFields: {
              withCredentials: true
            },
            success: function (data1) {
                testCookie2 = data1;
            }
        });
        describe("testCookie2", function() {
            setTimeout(function () {
                it("testCookie2 调用测试", function(done) {
                    expect(testCookie2).toEqual({
                        msg: "testCookie"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------

        var testHeader1 = "";
        $.ajax({
            url: domainBUrl + "testHeader1",
            type: "get",
            headers: {
              "testHeader": "testHeader"
            },
            success: function (data1) {
                testHeader1 = data1;
            }
        });
        describe("testHeader1", function() {
            setTimeout(function () {
                it("testHeader1 调用测试", function(done) {
                    expect(testHeader1).toEqual({
                        msg: "testCookie"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var testNginx = "";
        $.ajax({
            url: "http://b.com/testNginx",
            type: "get",
            success: function (data1) {
                testNginx = data1;
            }
        });
        describe("testNginx", function() {
            setTimeout(function () {
                it("testNginx 调用测试", function(done) {
                    expect(testNginx).toEqual({
                        msg: "testNginx"
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
        var bServerTest1 = "";
        $.ajax({
            url: "http://a.com/bServer/test1",
            type: "get",
            success: function (data1) {
                bServerTest1 = data1;
            }
        });
        describe("bServerTest1", function() {
            setTimeout(function () {
                it("bServerTest1 跨域测试", function(done) {
                    expect(bServerTest1).toEqual({
                        msg: 'this is from domain b'
                    });
                    done();
                });
            });
        }, 200);
        //--------------------------------
    });
</script>

</body>
</html>